<h1><%=@race.name%></h1>
<h2><%=@race.location%></h2>
<h2><%=@race.distance%></h2>
<h2><%=@race.next_race_day%></h2>
<br>
<h2>Race Reports:</h2>
  <%@race.reports.each do |report|%>
    <div class="report">
      <h2><%=report.user.username%> - <%=report.title%><h2>
        <div class="report-stats">
          <ul>
            <li>Year: <%=report.year%></li>
            <li>Score Out of 5: <%=report.score%></li>
            <li>Avg. Runs Per Week: <%=report.runs_per_week%></li>
            <li>Avg. Miles Per Week: <%=report.miles_per_week%></li>
          </ul>
        </div>
        <div class="report-content">
          <p>Review: <%=report.content%></p>
        </div>
    </div>
  <%end%>
