<h1><%=@user.username%>'s Reports:</h1>
<%@user.reports.each do |report|%>
<hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-3 col-md-pull-9">
      <fieldset class="rating">
        <input type="radio" id="star5_<%=report.id%>" name="rating_<%=report.id%>" value="5" <%='checked' if report.score ==5%> disabled/><label class = "full" for="star5_report.id" title="Awesome"></label>
        <input type="radio" id="star4_<%=report.id%>" name="rating_<%=report.id%>" value="4" <%='checked' if report.score ==4%>disabled/><label class = "full" for="star4_report.id" title="Pretty good"></label>
        <input type="radio" id="star3_<%=report.id%>" name="rating_<%=report.id%>" value="3" <%='checked' if report.score ==3%>disabled/><label class = "full" for="star3_report.id" title="Okay"></label>
        <input type="radio" id="star2_<%=report.id%>" name="rating_<%=report.id%>" value="2" <%='checked' if report.score ==2%>disabled/><label class = "full" for="star2_report.id" title="Kinda bad"></label>
        <input type="radio" id="star1_<%=report.id%>" name="rating_<%=report.id%>" value="1"<%='checked' if report.score ==1%>disabled/><label class = "full" for="star1_report.id" title="Bad"></label>
      </fieldset>
    </div>
      <div class="col-md-9 col-md-pull-3">
        <h2 class="featurette-heading">"<%=report.title%>" - <%=report.user.username%></h2>
          <h3 class="featurette-heading"><%=report.race.name%> <%=report.year%></h3>
         <h4><a href="/reports/<%=report.id%>">Read the full review.</a><h4>
      </div>

  </div>
<%end%>
