<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<div class="container">
  <form method = "POST" action="/reports/<%=@report.id%>" class="col-xs-7">
    <input type="hidden" name="_method" value="PATCH">
    <h1>Edit Race Report</h2>
    <hr class="solid">
    <div class="form-group row">
      <label class="col-xs-3 col-form-label" for="title">Title</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" name="report[title]" id="report_title" value="<%=@report.title%>">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-3 col-form-label" for="score">Score (0 to 5)</label>
      <div class="col-xs-2">
        <input type="text" class="form-control" name="report[score]" id="report_score" value="<%=@report.score%>">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-3 col-form-label" for="year">Year</label>
      <div class="col-xs-2">
        <input type="text" class="form-control" name="report[year]" id="report_year" value="<%=@report.year%>">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-6 col-form-label" for="miles_per_week">What was your average miles run per week leading up to this race?</label>
      <div class="col-xs-2">
        <input type="text" class="form-control" name="report[miles_per_week]" id="report_miles_per_week" value="<%=@report.miles_per_week%>">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-6 col-form-label" for="runs_per_week">How many days do you run per week?</label>
      <div class="col-xs-2">
        <input type="text" class="form-control" name="report[runs_per_week]" id="report_runs_per_week" value="<%=@report.runs_per_week%>">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-2 col-form-label" for="content">Describe your race experience</label>
      <div class="col-xs-10">
        <textarea rows="4"  class="form-control" cols="100" type="text" name="report[content]" id="report_content"><%=@report.content%></textarea>
      </div>
    </div>

    <legend>Change the race for your report:</legend><br>

      <%Race.all.each do |race|%>
        <input id="race_<%=race.id%>" type="radio"  name="report[race_id]" value="<%=race.id%>" <%='checked' if @report.race.id == race.id %>> <%=race.name%></input><br><br>
      <%end%>
        <input id="race_0" type="radio" name="report[race_id]" value="0" data-toggle="collapse" data-target="#newRace" aria-expanded="true" aria-controls="newRace">  Other</input>

    <br><br>
    <div class="collapse" id="newRace">
      <div class="form-group row">
        <label class="col-xs-3 col-form-label" for="race_name">Race Name</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" name="race[name]" id="new_race_name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-3 col-form-label" for="race_location">Race Location</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" name="race[location]" id="new_race_location">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-3 col-form-label" for="race_next_race_date">Next Race Day</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" name="race[next_race_day]" id="new_race_next_race_day">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-3 col-form-label" for="race_distance">Race Distance</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" name="race[distance]" id="new_race_distance">
        </div>
      </div>
    </div>

    <hr class="solid">
    <div class="form-group row">
      <input type="submit" class="btn btn-block btn-primary" value="Edit Report">
    </div>
  </form>
</div>
