<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<div class="container">
  <div class="row featurette">
    <div class="pull-left span9">
      <h1 class="featurette-heading">"<%=@report.title%>" - <%=@report.user.username%></h1>
      <h2 class="featurette-heading"><%=@report.race.name%> <%=@report.year%></h2>
    </div>
    <div class="pull-right span3">
      <fieldset class="rating">
        <input type="radio" id="star5_<%=@report.id%>" name="rating_<%=@report.id%>" value="5" <%='checked' if @report.score ==5%> disabled/><label class = "full" for="star5_<%=@report.id%>" title="Awesome"></label>
        <input type="radio" id="star4_<%=@report.id%>" name="rating_<%=@report.id%>" value="4" <%='checked' if @report.score ==4%> disabled/><label class = "full" for="star4_<%=@report.id%>" title="Pretty good"></label>
        <input type="radio" id="star3_<%=@report.id%>" name="rating_<%=@report.id%>" value="3" <%='checked' if @report.score ==3%> disabled/><label class = "full" for="star3_<%=@report.id%>" title="Okay"></label>
        <input type="radio" id="star2_<%=@report.id%>" name="rating_<%=@report.id%>" value="2" <%='checked' if @report.score ==2%> disabled/><label class = "full" for="star2_<%=@report.id%>" title="Kinda bad"></label>
        <input type="radio" id="star1_<%=@report.id%>" name="rating_<%=@report.id%>" value="1" <%='checked' if @report.score ==1%> disabled/><label class = "full" for="star1_<%=@report.id%>" title="Bad"></label>
      </fieldset>

    </div>
  </div>
  <hr class="solid">
  <h5>Training: Miles per week: <%=@report.miles_per_week%> Runs per week: <%=@report.runs_per_week%></h5>
  <hr class="solid">
  <p>
    <%=@report.content%>
  </p>
  <hr class="solid">



  <%if current_user == @report.user%>
    <div class="form-group row">
      <div class="col-xs-1">
        <form method="GET" action="/reports/<%=@report.id%>/edit">
          <input type="submit" class="btn  btn-primary" value="Edit Report">
        </form>
      </div>
      <div class="col-xs-6">
        <form method="POST" action="/reports/<%=@report.id%>/delete">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" class="btn  btn-danger" value="Delete Report">
        </form>
      </div>
    </div>
  <%end%>
</div>
